@mixin calendar-style {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1px;
  width: calc(7 * $day_block + 6 * 1px);
  padding: 10px;
  height: auto;
}

@mixin day-block-theme {
  font-family: Arial, sans-serif;
  font-size: 30px;
  box-sizing: border-box;
  border: 1px solid black;
  background-color: $day_color;
  height: $day_block;
  width: $day_block;
  text-align: center;
  align-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}

@mixin day-hover {
  cursor: pointer;
  background-color: $day_hover_color;
  transition: 0.5s;
  transform: translateY(-20px);
}
